/* ===== */
/* General styles */
/* ===== */
:root {
  --head-purple: #bf7fff;
  --side-lilac: #df9fff;
  --bg-white: #ffffff;
  --occular-purple: #7f33cc;
  --hilite-yellow: #F2D03C;
  --aside-periwinkle: #dfdfff;
}
h2 {
  margin: 0px;
}
section {
  margin-block-end: 1em;
}
ul {
  padding-inline-start: 1.5em;
}
.colorbox {
  background-color: var(--aside-periwinkle);
  color: black;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main {
  margin:0px;
  padding-right:10px; padding-left:10px;
  padding-top:10px; padding-bottom:10px;
  background-color: var(--bg-white);
}
/* language switcher */
[data-lang="en"] {
  /* English is the fallback language, in case js is not enabled */
  display: block;
}
[data-lang="es"] {
  display: none;
}

/* ===== */
/* Layout styles and Super Grid System */
/* ===== */
html {
  height: 100%;
  margin: 0;
  font-family:Calibri;
  font-size: 16px;
}

/* The body is a rankwise grid with three rows:
   header, middle-wrapper, and footer */
body{
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /*eff 40px, 1fr, 40px*/
}
header {
  display: flex; /*Remember, this flexbox tag only affects how things within the section will be aligned.*/
  height:40px;
  background-color: var(--head-purple);
  align-items: center;
  justify-content: center;
}
/*footer*/

/* The middle-wrapper is a filewise grid with three columns:
   leftside, main-wrapper, and rightside */
.middle-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 12% 1fr 12%; /*eff 141.969px, 1fr, 141.969px*/
  height: auto;
}
.leftside {
  height:100%;
  /*width:10.416666666%; max-width:141.969px;*/
  background-color: var(--side-lilac);
}
.rightside {
  height:100%;
  /*width:10.416666666%; max-width:141.969px;*/
  background-color: var(--side-lilac);
}
.main-wrapper {
  height:100%;
  /*width:79.1666666666%;*/
}

/* ===== */
/* Mobile responsive styles */
/* ===== */
@media screen and (max-width: 768px) {
  .middle-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 0 1fr 0; /*eff 141.969px, 1fr, 141.969px*/
    height: auto;
  }
}
